<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:10px; padding-bottom: 8px">
        <img src="~/Content/Images/Flags/Hungarian.png" alt="Magyar" width="32" height="32" style=""/>
        <span>&nbsp;&nbsp;Magyar</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><img src="~/Content/Images/Flags/Hungarian.png" alt="Magyar" width="32" height="32" />&nbsp;&nbsp;Magyar</a></li>
        <li><a href="#"><img src="~/Content/Images/Flags/German.png" alt="Deutsch" width="32" height="32" />&nbsp;&nbsp;Deutsch</a></li>
        <li><a href="#"><img src="~/Content/Images/Flags/English.png" alt="English" width="32" height="32" />&nbsp;&nbsp;English</a></li>
    </ul>
</li>
