@model InviteUserViewModel
@{
    ViewBag.Title = "Invite Users";
}
<div data-active-menu="InviteUsers"
     data-active-title="Confirm Invitation"
     data-no-language-choice>
    Confirm Invitation
</div>