<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <connectionStrings>
        <add name="Sc" connectionString="Data Source=.\sqlexpress2012;Integrated Security=True;Initial Catalog=SeemplestCloud.Poc;MultipleActiveResultSets=True;Pooling=true" />
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />

        <!-- Diagnostic settings -->
        <add key="TracerConfiguration.LogFolder" value="C:\Temp" />
        <add key="TracerConfiguration.LogFile" value="TmsLog.txt" />
        <add key="TracerConfiguration.FolderPattern" value="yyyyMMdd" />
        <add key="TracerConfiguration.FileSuffixPattern" value="_HH" />
        <add key="TracerConfiguration.LogLevel" value="Error" />

        <!-- Email settings -->
        <add key="SmtpConfig.Enabled" value="true" />
        <add key="SmtpConfig.ThrowException" value="true" />
        <add key="SmtpConfig.SmtpServer" value="smtp.gmail.com" />
        <add key="SmtpConfig.PortNumber" value="587" />
        <add key="SmtpConfig.UseSsl" value="true" />
        <add key="SmtpConfig.SmtpAuth" value="true" />
        <add key="SmtpConfig.UserName" value="SeemplestCloud" />
        <add key="SmtpConfig.Password" value="@2014Seemplest" />
        <add key="SmtpConfig.SendInterval" value="1000" />
        <add key="SmtpConfig.EmailCount" value="10" />
        <add key="SmtpConfig.MaxRetry" value="1" />
        <add key="SmtpConfig.RetryMinutes" value="5" />
        <add key="SmtpConfig.EmailFromAddr" value="admin@seemplestcloud.com" />
        <add key="SmtpConfig.EmailFromName" value="Your SeemplestCloud Admin" />
        
        <!-- Subscription settings -->
        <add key="SubscriptionConfig.InvitationLinkPrefix" value="https://localhost:44300/Subscription/ConfirmInvitation" />
    </appSettings>

    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <modules>
            <remove name="FormsAuthentication" />
        </modules>

        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>