@using SeemplestCloud.Services
@{
    ViewBag.Title = "Invalid Invitation Code";
}
<div data-active-menu="InviteUsers"
     data-active-title="@Resources.ConfirmInvitation_CurrentSpot"
     data-no-language-choice>
    <div class="alert alert-danger">@ServiceMessages.InvalidInvitationCode</div>
</div>