<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Seemplest" connectionString="User=SYSDBA;Password=masterkey;DataSource=localhost;Database=C:\Temp\SeemplestTest.KSFDB;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
