<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="Core" connectionString="Server=(localdb)\mssqllocaldb;Integrated Security=True;Initial Catalog=Seemplest.Test;MultipleActiveResultSets=True;Pooling=false"/>
    </connectionStrings>

    <appSettings>
        <add key="Category1.Key1" value="123"/>
        <add key="Category1.Key2" value="Hello"/>
        <add key="Category1.Key3" value="Doe, John"/>
        <add key="Category2.BoolVal" value="True"/>
        <add key="Category2.DoubleVal" value="12.23"/>
        <add key="Category2.StringVal" value="Hi!"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
