@brand-primary:         #0044CC;
@brand-success:         #51A351; 
@brand-info:            #0088CC;
@brand-warning:         #F89406;
@brand-danger:          #BD362F;
@current-spot-bg:       lighten(@brand-warning, 20%);

.current-spot {
    background-color: @current-spot-bg;
    margin-bottom: 24px;
    
    h2 {
        margin-top: 12px;
        margin-bottom: 14px;
    }
    h3 {
        margin-top: 12px;
        margin-bottom: 14px;
    }
}

// --- Validation styles

label.required::after {
    content: ' *';
} 

div.alert ul {
    li {
        margin-left: -24px;
        margin-right: -24px;
        list-style: none;
    }
}

.tooltip-inner {
    background-color: @brand-danger;
    max-width: 300px;
}

.tooltip-arrow {
    display:none;
}

// --- Login provider buttons
.loginprovider {
    background-color: #e0e0e0;
    border: 1px solid darken(#fff, 40%);

    &:hover {
        background-color: darken(#fff, 25%);
    }
}

// --- Subcription styles
.subscription-option {
    margin: 16px 0;
    padding: 0 12px;
    background-color: lighten(@brand-primary, 50%);
    border: 4px solid lighten(@brand-primary, 50%);
    cursor: pointer;
}

.subscription-option-selected {
    border: 4px solid @brand-primary;
    background-color: lighten(@brand-warning, 35%);
}
