<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfiguration" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="AppConfiguration1" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="TypeResolver" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="TypeResolver1" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="TypeResolverBackup" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ConnectionProviders" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ResourceConnections" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ResourceConnections1" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="BackgroundTaskHost1" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
    <section name="ServiceManager1" type="Seemplest.Core.Configuration.XElementConfigurationHandler, Seemplest.Core"/>
  </configSections>

  <connectionStrings>
    <add name="Seemplest" connectionString="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=Seemplest.Test;MultipleActiveResultSets=True;Pooling=false"/>
  </connectionStrings>
  
  <AppConfiguration provider="Seemplest.Core.Configuration.AppConfigProvider, Seemplest.Core" />
  <AppConfiguration1 provider="Seemplest.Core.Configuration.AppConfigProvider, Seemplest.Core" />

  <TypeResolver1>
    <Assemblies>
      <Assembly name="System" />
      <Assembly name="mscorlib" />
      <Assembly name="Seemplest.Core" />
      <Assembly name="Seemplest.Core.UnitTests" />
    </Assemblies>
    <Namespaces>
      <Namespace name="System" />
      <Namespace name="TypeResolution" />
      <Namespace name="TypeResolution.Sub" />
    </Namespaces>
  </TypeResolver1>

  <TypeResolver>
    <Assemblies>
      <Assembly name="Seemplest.Core" />
      <Assembly name="Seemplest.MsSql" />
    </Assemblies>
    <Namespaces>
      <Namespace name="System" />
      <Namespace name="Queue" />
      <Namespace name="Queue.Configuration" />
      <Namespace name="Configuration" />
      <Namespace name="Configuration.ResourceConnection" />
    </Namespaces>
  </TypeResolver>
  
  <TypeResolverBackup>
    <Assemblies>
      <Assembly name="System" />
    </Assemblies>
    <Namespaces>
      <Namespace name="TypeResolution" />
    </Namespaces>
  </TypeResolverBackup>

  <ConnectionProviders>
    <Provider type="SqlConnectionProvider" />
    <Provider type="QueueConnectionProvider" />
    <Provider type="QueueProvider" />
  </ConnectionProviders>

  <ResourceConnections>
    <SqlConnection name="queueDB" value="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=Seemplest.Test;"/>
    <QueueConnection name="queue" type="SqlNamedQueueProvider" initialParams="queueDB"/>
    <QueueConnection name="testQueue" type="SqlNamedQueueProvider" initialParams="name=queueDB"/>
    <Queue name="requestQueue" providerKey="testQueue" queueName="RequestQueue" autoCreate="True" />
    <Queue name="responseQueue" providerKey="testQueue" queueName="ResponseQueue" autoCreate="True" />
  </ResourceConnections>

  <ResourceConnections1>
    <SqlConnection name="queueDB" value="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=Seemplest.Test;"/>
  </ResourceConnections1>

  <BackgroundTaskHost1>
    <DefaultContext providerKey="queue">
      <Properties>
        <Property name="prop1" type="System.Int32" value="23" />
        <Property name="prop2" type="System.Int32" value="24" />
        <Property name="prop3" type="System.String" value="23" />
      </Properties>
    </DefaultContext>
    <TaskProcessors>
      <TaskProcessor name="Proc1" processorType="scheduled" taskType="Seemplest.Core.Tasks.TaskBase, Seemplest.Core" instanceCount="3">
        <Context providerKey="queue">
          <Properties>
            <Property name="prop1" type="System.Int32" value="99" />
            <Property name="prop2" type="System.Int32" value="100" />
            <Property name="prop3" type="System.String" value="101" />
          </Properties>
        </Context>
        <ProcessorProperties>
          <Property name="prop1" value="1000" />
          <Property name="prop2" value="1001" />
        </ProcessorProperties>
      </TaskProcessor>
      <TaskProcessor name="Proc2" processorType="queued" taskType="Seemplest.Core.Tasks.TaskBase, Seemplest.Core" instanceCount="2">
        <ProcessorProperties>
          <Property name="prop1" value="1000" />
          <Property name="prop2" value="1001" />
        </ProcessorProperties>
      </TaskProcessor>
      <TaskProcessor name="Proc3" processorType="queuedWithResult" taskType="Seemplest.Core.Tasks.TaskBase, Seemplest.Core" instanceCount="1">
        <ProcessorProperties />
      </TaskProcessor>
    </TaskProcessors>
  </BackgroundTaskHost1>

  <ServiceManager1 name="testContainer">
    <Map from="Seemplest.Core.UnitTests.DependencyInjection.ServiceManagerTest+IDummy, Seemplest.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
         to="Seemplest.Core.UnitTests.DependencyInjection.ServiceManagerTest+DummyService, Seemplest.Core.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </ServiceManager1>

    <appSettings>
    <add key="setting1" value="value1"/>
  </appSettings>
  
</configuration>